extends indexCommon
block sub-css
	link(rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css")
	link(rel="stylesheet" type="text/css" href="/css/demo.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/monokai-sublime.min.css")
	link(href="/css/themes/quill.snow.css" rel="stylesheet")
block sub_content
	.product-class-container
		span 分类 : 
		select.form-control.common-input#product-class
			- if(data.datas.length>0)
				- for(var i=0;i<data.datas.length;i++)
					option #{data.datas[i].productClass}
		span
			a.create-class-a(href='/admin/addProductClass') 点此创建分类
		.product-title-describe
			span 标题 : 
			input.form-control.common-input#product-title(type='text' placeholder='请输入产品名称标题说明')
		.main-img-container
			span 主图 :
			.main-content#main-content 点击添加主图
				input(type='file' id='main-input')
		.main-detail-content
			span 内容 : 
			div(style="width:90%;margin-top:10px;")
				div#standalone-container
					div#toolbar-container
						span.ql-formats
							select.ql-font
							select.ql-size
						span.ql-formats
							button.ql-bold
							button.ql-italic
							button.ql-underline
							button.ql-strike
						span.ql-formats
							select.ql-color
							select.ql-background
						span.ql-formats
							button.ql-script(value="sub")
							button.ql-script(value="super")
						span.ql-formats
							button.ql-header(value="1")
							button.ql-header(value="2")
							button.ql-blockquote
							button.ql-code-block
						span.ql-formats
							button.ql-list(value="ordered")
							button.ql-list(value="bullet")
							button.ql-indent(value="-1")
							button.ql-indent(value="+1")
						span.ql-formats
							button.ql-direction(value="rtl")
							select.ql-align
						span.ql-formats
							button.ql-link
							button.ql-image
							button.ql-video
							button.ql-formula
						span.ql-formats
							button.ql-clean
					div#editor-container
	.save-product#save-product 保存
	.server-has-img 现有产品中心
	- if(data.datas.length>0)
		.table-container
			table#table
				tr
					th 分类名
					th 标题
					th 操作
				- for(var i=0;i<data.datas.length;i++)
					- for(var j=0;j<data.datas[i].list.length;j++)
						tr
							td #{data.datas[i].productClass}
							td #{data.datas[i].list[j].title}
							td 
								a.common-a.del-about-news(data-top-id='#{data.datas[i]._id}' data-list-id='#{data.datas[i].list[j]._id}') 删除
								a.common-a(data-top-id='#{data.datas[i]._id}' data-list-id='#{data.datas[i].list[j]._id}') 修改
	- else
		.no-data(style='margin-top:30px;') 暂无数据
block sub-js
	script(src="/dist/katex.min.js")
	script(src="/dist/highlight.min.js")
	script(src="/dist/quill.js")
	script(src='/javascripts/admin_product_center.js')