doctype html
html
  head
    meta(charset='utf-8')
    title 无标题文档
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
  body
    .banner
      .middle
        a.logo(href='')
          img(src='images/index_logo.png', alt='')
        span.chinese 中文
        span.english English
      .navbar
        ul
          li.active
            a(href='/index')
              img(src='images/index_icon1.png', alt='')
              p 主 页
          li
            a(href='/productCenter')
              img(src='images/index_icon2.png', alt='')
              p 产品中心
          li
            a(href='/download')
              img(src='images/index_icon3.png', alt='')
              p 文档下载
          li
            a(href='/support')
              img(src='images/index_icon4.png', alt='')
              p 技术支持
          li
            a(href='/contact')
              img(src='images/index_icon5.png', alt='')
              p 联系我们
          li
            a(href='/about')
              img(src='images/index_icon6.png', alt='')
              p 关于我们
          li
            a(href='')
              img(src='images/index_icon7.png', alt='')
              p 网上商城
      .b-img
        a(href='#', style='background:url(images/index_banner1.png) center no-repeat;')
        a(href='#', style='background:url(images/index_banner1.png) center no-repeat;')
        a(href='#', style='background:url(images/index_banner1.png) center no-repeat;')
      a.bar-left(href='#')
        em
      a.bar-right(href='#')
        em
    .index_analys
      .allheads
        h2 产品分类
        p PRODUCT CATEGORY
      ul
        - for(var i=0;i<data.productCenter.length;i++)
          li
            a(href='')
              p #{data.productCenter[i].productClass}
              img(src='images/index_producttosee.png', alt='')
            - if(data.productCenter[i].list.length>0)
              img(width='270px' height='230px' src='#{data.productCenter[i].list[0].url}', alt='')
    .index_intro
      .index_intro1
        .intro_l
          h2 南京安崇电子有限公司
          p
            | 南京安崇电子有限公司是一家从事射频微波精密测试附件的专业性公司。公司业务范围覆盖射频微波校准件、射频电缆组件、其它高性能测试相关的微波器件的开发、生产及维修服务。公司具有严谨的设计，精密的机加工，采用一流的材料与工艺，为您提供日益丰富的解决方案和产品测试方面提供全方位的服务。公司以专业化的产品、可靠的质量、良好的信誉为生存之本，以客户需求为导向，竭诚为海内外客户提供服务。
          a(href='') 查看更多 +
        .intro_r
          div
            img(src='images/index_changepic.png', alt='')
    .index_news
      .allheads.theme1
        h2 新闻动态
        p NEWS INFORMATION
      .setmiddle
        ul
          - for(var i=0;i<data.news.length;i++)
            li
              .lefttime
                h2
                  - if(i<9)
                    | #{'0'+(Number(i)+1).toString()}
                  - else
                    | #{i}
                p
                  | #{data.news[i].time.split('-')[1]}号
              .rightcontain
                h2.title
                  b(title='新闻标题') #{data.news[i].title}
                  span #{data.news[i].time}
                p(title='#{data.news[i].content}')
                  | #{data.news[i].content}
                a(href='') 查看更多
        a.seemore(href='') 查看更多
    .footer
      .footer-content
        .footer-content-container
          .footer-cont
          .footer-about-us.font
            .footer-about-us-header 
              i 关于我们
            .footer-about-us-list 
              a(href="#") 公司简介
            .footer-about-us-list 
              a(href="#") 资质文件
            .footer-about-us-list 
              a(href="#") 公司新闻
            .footer-about-us-list 
              a(href="#") 公司环境
          .footer-support
            .footer-about-us-header 
              i 技术支持
            .footer-about-us-list 
              a(href="#") 产品命名规则
            .footer-about-us-list 
              a(href="#") 维修和定制业务
            .footer-about-us-list 
              a(href="#") 技术文章
            .footer-about-us-list 
              a(href="#") 产品手册下载
          .footer-contact
            .footer-about-us-header 
              i 联系我们
            .footer-support-address 
              a(href="#") 地址 ： 江苏省南京市江宁区东麒路33号东山国际
            .footer-address 
              a(href="#") 企业研发园4楼
            .footer-email
              .footer-about-us-headers 
              .footer-support-email 
                a(href="#") 邮编 ： 211100
              .footer-email
                .footer-about-us-headers 
                .footer-support-tel 
                  a(href="#") 电话 ： +86-25-58817997
          .footer-other
            .footer-about-us-header
              .footer-cz
                a(href="#") 传真 ：+86-25-580722397
              .footer-yj
                a(href="#") 邮件 ：sales@arance-rf.com( 销售 )
              .footer-yj-null
                a(href="#") tech@arance-rf.com( 技术支持 )
    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/javascripts/banner.js')