extends layout
block title
	title #{data.title}

block content
	.about-content#about-content
		.map-title 公司简介
		.map-alias COMPANY PROFILE
		.line
			img(src='/images/contact_underline.png')
		.company-introduce-container
			.company-introduce(style='height:539px;')
				.com-top
					p 
						span 
							i.ft Nanjing Ancong electronics company 
						span &nbsp&nbspSpecializing in the development and production of microwave devices, has a professional design team and precision machining technology, dedicated to high performance and millimeter wave passive components of the design and development. The company's products are mainly：
					p.p-list(style='margin-top:12px;') 
						● Vector network analyzer dedicated high performance stable phase test cable, operating frequency coverage of DC~67GHz, port types, including N, NMD3.5mm, NMD2.92mm, NMD2.4mm, NMD1.85mm。
					p.p-list 
						● Various types of millimeter wave cable assemblies, the maximum operating frequency of the product can reach 67GHz; the phase matching cable can be provided according to the user's requirements.。
					p.p-list 
						● High precision RF coaxial calibration, port type including N and 3.5mm. Follow up will provide more types of products。
					p.p-list 
						● High performance calibration port adapter for vector network analyzer, test cable calibration port (NMD port) protection and conversion; and to provide a high precision calibration port for testing, to ensure that the original test accuracy
					p.p-list 
						● Development and production of all kinds of test fixtures and accessories.
					p.bt(style='margin-top:12px;') The company's customers include research institutes, military enterprises, communications companies and universities and research institutes, products have been exported to Europe and the United States and other countries, and has provided OEM. I hope the company with professional technology, high-quality products and services to more domestic and foreign enterprises, expand the scope of application of millimeter wave and high performance products, the import substitution of domestic microwave devices, contribute to the development of microwave communication and measurement of career.
	.qualifications#qualifications
		.null-div
		.map-title(style='color:#30a1fd') 资质文件
		.map-alias QUALIFICATION DOCUMENTS
		.line
			img(src='/images/about_underline1.png')
		.img-qu-container
			ul
				li
					img(src="/images/about_pic.png")
				li
					img(src="/images/about_pic1.png")
				li
					img(src="/images/about_pic2.png")
				li
					img(src="/images/about_pic3.png")
				li(style='margin-right:0px;')
					img(src="/images/about_pic4.png")
	.company-news#company-news
		.company-news-container
			.null-div
			.map-title.pro 公司新闻
			.map-alias COMPANY NEWS
			.line
				img(src='/images/index_underline2.png')
		.company-new-content
			ul#news-container(data-total="#{data.total}")
				- if(data.data.length>0)
					- for(var i=0;i<data.data.length;i++)
						- if(i%2 != 0)
							li.news(data-id="#{data.data[i]._id}")
								a #{data.data[i].titleEn}
								span.news-time #{data.data[i].time}
						- else
							li.news.mf(data-id="#{data.data[i]._id}")
								a #{data.data[i].titleEn}
								span.news-time #{data.data[i].time}
	.new-page-container
		a.prev.not-click#prev 上一页
		a.next#next 下一页
block sub-js
	script(src='/javascripts/about_en.js')
